<div class="container">
  <div class="row">
    <div class="col-sm-12 d-flex column-nowrap flex-column">
      <table mat-table [dataSource]="dataSource">
        <!-- Id Column -->
        <ng-container matColumnDef="movieId">
          <th mat-header-cell *matHeaderCellDef>Movie ID</th>
          <td mat-cell *matCellDef="let element">{{ element.movieId }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="movieName">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let element">{{ element.movieName }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="movieYear">
          <th mat-header-cell *matHeaderCellDef>Year</th>
          <td mat-cell *matCellDef="let element">{{ element.movieYear }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="genre">
          <th mat-header-cell *matHeaderCellDef>genre</th>
          <td mat-cell *matCellDef="let element">{{ element.genre }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="movieDescription">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">
            {{ element.movieDescription }}
          </td>
        </ng-container>

        <ng-container matColumnDef="overallRating">
          <th mat-header-cell *matHeaderCellDef>Rating</th>
          <td mat-cell *matCellDef="let element">
            {{ element.overallRating }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          (click)="onRowSelected(row)"
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="pageOptions"
        showFirstLastButtons
        aria-label="Select page of Movies"
      >
      </mat-paginator>
    </div>
  </div>
</div>
