<div class="container">
    <div class="row">

<table class="table table-striped col-sm-10">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Year</th>
      <th scope="col">Genre</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let movie of moviesView" (click)="printInfo(movie)">
      <th scope="row">{{ movie.movieId }}</th>
      <td>{{ movie.movieName }}</td>
      <td>{{ movie.movieYear  }}</td>
      <td>{{ movie.genre  }}</td>
    </tr>
    </tbody>
  </table>
  
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshMovieView()">
    </ngb-pagination>
  
    <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshMovieView()">
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="20">20 items per page</option>
      <option [ngValue]="30">30 items per page</option>
    </select>
  </div>

  </div>
  </div>